---
import BaseLayout from '../layouts/Base.astro'
import { XMLParser } from 'fast-xml-parser'
import { YouTube } from '@astro-community/astro-embed-youtube'
import YTicon from '../assets/youtube.svg'

const channelId = 'UCFpptpegJ_Ys54PGYwTYPPg'
const rss = `https://www.youtube.com/feeds/videos.xml?channel_id=${channelId}`
const parser = new XMLParser({ ignoreAttributes: false })
const xml = await fetch(rss).then(res => res.text()).then((xml) => parser.parse(xml))
const { feed: { title, author, entry: entries } } = xml

const uploads = 'UUFpptpegJ_Ys54PGYwTYPPg'
---

<BaseLayout title="YouTube RSS Loader">
	<YTicon fill="#ccc" />
	<h2>{title}</h2>
	<p><a href={author.uri}>channel</a></p>

	<iframe width="560" height="315" title="Play"
		allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
		allowfullscreen="" referrerpolicy="strict-origin-when-cross-origin"
		src={`https://www.youtube-nocookie.com/embed/?list=${uploads}&amp;playsinline=1`}>
	</iframe>
	<!--<YouTube id="" params={`list=${uploads}`} posterQuality="max" />-->

	{ entries.map((entry) => {
			const { 'yt:videoId': id, link: {'@_href': link}, title, published } = entry
			// params=querystring (https://developers.google.com/youtube/player_parameters#Parameters)
			// title=overlay text
			return (
				<YouTube id={id} posterQuality="max" />
				<p><a href={link}>{title}</a></p>
				<p>{(new Date(published)).toLocaleDateString()}</p>
			)
	}) }
</BaseLayout>
