---
import { getCollection } from 'astro:content'

const github = await getCollection('github')
github.sort((a, b) => b.id.localeCompare(a.id))
---

{
  github.map(({ id: day, data }) => {
    return (
      <article>
        <h3>{day}</h3>
        {data.map(({ repo, commits }) => {
          const { html_url, created_at, updated_at, name } = repo
          return (
            <details>
              <summary>{name} commits</summary>
              <ul>
                {commits.map((commit) => {
                  const {
                    html_url,
                    commit: { author, message },
                  } = commit
                  const { name, email, date } = author
                  return (
                    <li>
                      <p>
                        <a href={html_url}>At {date}</a>
                      </p>
                      <p>By {name}</p>
                      <p>{message}</p>
                    </li>
                  )
                })}
              </ul>
            </details>
          )
        })}
      </article>
    )
  })
}
