---
import { YouTube } from '@astro-community/astro-embed-youtube'
const { title, description, videoId, publishedAt, isShort, naked = false } = Astro.props
const date = new Date(publishedAt).toLocaleDateString('en-US', { dateStyle: 'medium' })
---

<YouTube id={videoId} posterQuality="max" />
<p>
  <a href={`https://youtu.be/${videoId}`}>{title}</a><span>Published: {date}</span>{
    isShort && <span>(short)</span>
  }
</p>
{description && <p>{description}</p>}

<style>
  span {
    margin-inline-start: 1em;
  }
  :global(lite-youtube) {
    max-width: 500px;
    border-radius: 1em;
  }
</style>
